# This Python 3 environment comes with many helpful analytics libraries installed:
keras.models import Sequential
keras.layers import Dense
keras.layers import LeakyReLU
pandas as pd
sklearn.svm import SVC
numpy as np # linear algebra
pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
matplotlib.pyplot as plt
seaborn as sns
sklearn import metrics
sklearn.datasets import load_breast_cancer
sklearn.preprocessing import StandardScaler
sklearn.neural_network import MLPClassifier
tensorflow as tf
tensorflow import keras
tensorflow.keras import Sequential
tensorflow.keras.layers import Flatten,Dense,Dropout,BatchNormalization,Conv1D,MaxPool1D
tensorflow.keras.preprocessing.image import ImageDataGenerator
tensorflow.keras.optimizers import Adam
seaborn as sns

# Define the CNN model: we are going to define a CNN model with the following architecture:
 1. Convolutional layer with 32 filters and a kernel size of 3
 2. Using Leaky Relu activation function is better than Relu on the output of the convolutional layer
 3. Using L1 regularization of factor 0.01 applied to the kernel matrix, since the input is features
    and L1 regularization is a way of feature selection
 4. Batch Normalization
 5 . Dropout
